@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,700;0,900;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,500;0,700;0,900;1,300;1,400;1,500;1,700;1,900&display=swap");
@-webkit-keyframes transpale {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-200px);
            transform: translateX(-200px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}
@keyframes transpale {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-200px);
            transform: translateX(-200px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@-webkit-keyframes opacity {
  0% {
    opacity: 0;
    -webkit-transform: translateX(80px);
            transform: translateX(80px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes opacity {
  0% {
    opacity: 0;
    -webkit-transform: translateX(80px);
            transform: translateX(80px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

@media only screen and (max-width: 81.25em) {
  html {
    font-size: 56.25%;
  }
}

@media only screen and (max-width: 72.62em) {
  html {
    font-size: 50%;
  }
}

@media only screen and (max-width: 37.5em) {
  html {
    font-size: 43.75%;
  }
}

body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: black;
}

strong {
  font-weight: normal;
}

.heading-4 {
  font-size: 3.5rem;
  text-transform: uppercase;
  color: #fff;
  letter-spacing: 2px;
  font-family: "Open Sans";
  font-weight: 400;
}

.header {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  position: relative;
  background-image: url(../img/bg/bg-1-desk.jpg);
  background-position: center;
  background-size: cover;
  min-width: 100%;
  height: auto;
}

@media only screen and (max-width: 62.5em) {
  .header {
    background-image: url(../img/bg/bg-1-tab.jpg);
  }
}

@media only screen and (max-width: 37.5em) {
  .header {
    display: none;
  }
}

.header__heading {
  position: absolute;
  top: 20%;
  left: 50%;
  color: #fff;
  text-transform: uppercase;
}

@media only screen and (max-width: 62.5em) {
  .header__heading {
    left: 41%;
    top: 10%;
  }
}

.header__heading-main {
  display: block;
  font-family: "Open Sans";
  font-size: 4.5rem;
  margin-bottom: 1.5rem;
  -webkit-animation: transpale 3s;
          animation: transpale 3s;
}

.header__heading-sub {
  font-size: 3.5rem;
  font-family: "Open Sans";
  position: absolute;
  top: 100%;
  left: 80%;
  -webkit-animation: opacity 3s;
          animation: opacity 3s;
}

@media only screen and (max-width: 72.62em) {
  .header__heading-sub {
    left: 70%;
  }
}

@media only screen and (max-width: 62.5em) {
  .header__heading-sub {
    left: 60%;
  }
}

.nav {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  background-color: #131313;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  padding: 1rem;
  border-top: 1px solid #f1f1f1;
  border-bottom: 1px solid #f1f1f1;
}

@media only screen and (max-width: 37.5em) {
  .nav {
    padding: 0;
  }
}

@media only screen and (max-width: 37.5em) {
  .nav {
    display: none;
  }
}

.nav__list {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  list-style: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav__link {
  text-decoration: none;
  font-size: 2.4rem;
  text-transform: uppercase;
  font-family: "Open Sans";
  color: #fff;
  display: block;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

.nav__link:hover, .nav__link:active {
  color: #c6c6c6;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.footer {
  grid-row: 4/-1;
  border-top: 1px solid #fff;
  margin-top: 5rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (min-content)[3];
      grid-template-rows: repeat(3, -webkit-min-content);
      grid-template-rows: repeat(3, min-content);
  row-gap: 5rem;
  background-image: -webkit-gradient(linear, left top, right bottom, from(#131313), to(#000933));
  background-image: linear-gradient(to right bottom, #131313, #000933);
}

.footer__logo-box {
  margin-top: 5rem;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -ms-grid-column-align: center;
      justify-self: center;
}

.footer__logo-img {
  width: 20rem;
  height: 20rem;
}

.footer__copyright {
  color: #fff;
  -ms-grid-column-align: end;
      justify-self: end;
  font-size: 1.6rem;
  margin: 2rem;
}

@media only screen and (min-width: 37.5em) {
  .footer {
    -ms-grid-row: 6;
    -ms-grid-row-span: 1;
    grid-row: 6/7;
  }
}

/* .mob {
  @media only screen and (min-width: $bp-mob) {
    display: none;
  }
  grid-row: 1/2;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 2rem;
  border-bottom: 1px solid $color-grey-light-1;

  &__logo {
    height: 6rem;
    width: 6rem;
  }

  &__heading {
    color: #fff;
    margin-left: 2.5rem;
    font-size: 3.5rem;
    text-transform: uppercase;
    font-family: $font-primary;
    letter-spacing: 1px;
    font-weight: 300;
    margin-right: auto;
  }

  &__checkbox {
    width: 4rem;
    height: 4rem;
    position: absolute;
    right: 0.8%;
    visibility: hidden;
    border: none;
  }

  &__icon {
    fill: #fff;
    width: 5.5rem;
    height: 5.5rem;
  }
}

.navmob {
  @media only screen and (min-width: $bp-mob) {
    display: none;
  }
  position: absolute;
  right: 0%;
  height: 100vh;
  width: 100vw;
  background-color: orangered;

  &__checkbox {
    width: 6rem;
    height: 6rem;
    position: absolute;
    top: 2%;
    right: 6%;
 z-index: 10;
    //visibility: hidden;
  }

  &__icon {
    font-size: 4.5rem;
    position: absolute;
    top: 2.5%;
    right: 8.2%;
 z-index: 50;
    color: red;
   
  }

  &__nav {
    &-list {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      list-style: none;
      text-align: center;
    }

    &-items {
      &:not(:first-child) {
        margin-top: 4rem;
      }
    }

    &-link {
      font-size: 4.2rem;
      text-transform: uppercase;
      text-decoration: none;
      color: #fff;
      font-family: $font-secondary;
      letter-spacing: 1px;
    }
  }
}
 */
.navigation {
  z-index: 300;
}

.navigation__checkbox {
  display: none;
}

.navigation__button {
  background-color: #fff;
  height: 7rem;
  width: 7rem;
  position: fixed;
  top: 6rem;
  right: 6rem;
  border-radius: 50%;
  z-index: 2000;
  -webkit-box-shadow: 0 1rem 3rem rgba(255, 255, 255, 0.1);
          box-shadow: 0 1rem 3rem rgba(255, 255, 255, 0.1);
  text-align: center;
  cursor: pointer;
}

@media only screen and (max-width: 72.62em) {
  .navigation__button {
    top: 2rem;
    right: 2rem;
    height: 5rem;
    width: 5rem;
  }
}

@media only screen and (max-width: 37.5em) {
  .navigation__button {
    top: 3rem;
    right: 3rem;
  }
}

.navigation__background {
  height: 6rem;
  width: 6rem;
  border-radius: 50%;
  position: fixed;
  top: 6.5rem;
  right: 6.5rem;
  background-color: rgba(19, 19, 19, 0.95);
  z-index: 1000;
  -webkit-transition: -webkit-transform 0.8s cubic-bezier(0.86, 0, 0.07, 1);
  transition: -webkit-transform 0.8s cubic-bezier(0.86, 0, 0.07, 1);
  transition: transform 0.8s cubic-bezier(0.86, 0, 0.07, 1);
  transition: transform 0.8s cubic-bezier(0.86, 0, 0.07, 1), -webkit-transform 0.8s cubic-bezier(0.86, 0, 0.07, 1);
}

@media only screen and (max-width: 72.62em) {
  .navigation__background {
    top: 2.5rem;
    right: 2.5rem;
    height: 4rem;
    width: 4rem;
  }
}

@media only screen and (max-width: 37.5em) {
  .navigation__background {
    top: 3.5rem;
    right: 3.5rem;
  }
}

.navigation__nav {
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1500;
  opacity: 0;
  width: 0;
  -webkit-transition: all 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transition: all 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.navigation__list {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  list-style: none;
  text-align: center;
  width: 100%;
}

.navigation__item {
  margin: 1rem;
}

.navigation__link:link, .navigation__link:visited {
  display: inline-block;
  font-size: 3rem;
  font-weight: 300;
  font-family: "Lato";
  letter-spacing: 3px;
  padding: 1rem 2rem;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 3px;
  background-image: linear-gradient(120deg, transparent 0%, transparent 50%, #fff 50%);
  background-size: 220%;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

.navigation__link:link span, .navigation__link:visited span {
  margin-right: 1.5rem;
  display: inline-block;
}

.navigation__link:hover, .navigation__link:active {
  background-position: 100%;
  color: #383838;
  -webkit-transform: translateX(1rem);
          transform: translateX(1rem);
}

.navigation__checkbox:checked ~ .navigation__background {
  -webkit-transform: scale(80);
          transform: scale(80);
}

.navigation__checkbox:checked ~ .navigation__nav {
  opacity: 1;
  width: 100%;
}

.navigation__icon {
  position: relative;
  margin-top: 3.5rem;
}

@media only screen and (max-width: 72.62em) {
  .navigation__icon {
    margin-top: 2.5rem;
  }
}

.navigation__icon, .navigation__icon::before, .navigation__icon::after {
  width: 3rem;
  height: 2px;
  background-color: black;
  display: inline-block;
}

.navigation__icon::before, .navigation__icon::after {
  content: "";
  position: absolute;
  left: 0;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.navigation__icon::before {
  top: -0.8rem;
}

.navigation__icon::after {
  top: 0.8rem;
}

.navigation__button:hover .navigation__icon::before {
  top: -1rem;
}

.navigation__button:hover .navigation__icon::after {
  top: 1rem;
}

.navigation__checkbox:checked + .navigation__button .navigation__icon {
  background-color: transparent;
}

.navigation__checkbox:checked + .navigation__button .navigation__icon::before {
  top: 0;
  -webkit-transform: rotate(135deg);
          transform: rotate(135deg);
}

.navigation__checkbox:checked + .navigation__button .navigation__icon::after {
  top: 0;
  -webkit-transform: rotate(-135deg);
          transform: rotate(-135deg);
}

.staff {
  border-right: 1px solid #c6c6c6;
  color: #fff;
  display: -ms-grid;
  display: grid;
  -ms-grid-row-align: center;
      align-self: center;
  -ms-grid-rows: (min-content)[2];
      grid-template-rows: repeat(2, -webkit-min-content);
      grid-template-rows: repeat(2, min-content);
  gap: 5rem;
}

@media only screen and (max-width: 62.5em) {
  .staff {
    border-right: none;
    border-top: 1px solid #c6c6c6;
  }
}

.staff__heading {
  margin-left: 2rem;
}

@media only screen and (max-width: 62.5em) {
  .staff__heading {
    margin: 2rem;
  }
}

.staff__text {
  font-size: 2rem;
  font-family: "Lato";
  text-align: center;
  -ms-grid-column-align: center;
      justify-self: center;
  width: 80%;
}

.team {
  -ms-grid-column-align: center;
      justify-self: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin: 5rem;
}

.team__list {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: min-content max-content;
      grid-template-columns: -webkit-min-content -webkit-max-content;
      grid-template-columns: min-content max-content;
  gap: 2rem;
}

@media only screen and (max-width: 62.5em) {
  .team__list {
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: (1fr)[2];
        grid-template-rows: repeat(2, 1fr);
    -ms-grid-columns: (minmax(min-content, 1fr))[4];
        grid-template-columns: repeat(4, minmax(-webkit-min-content, 1fr));
        grid-template-columns: repeat(4, minmax(min-content, 1fr));
    gap: 0;
  }
}

.team__img {
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
  -webkit-box-shadow: 2px 0px 15px 5px rgba(255, 255, 255, 0.11);
  box-shadow: 2px 0px 15px 5px rgba(255, 255, 255, 0.11);
}

@media only screen and (max-width: 62.5em) {
  .team__img {
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/2;
    -ms-grid-column-align: center;
        justify-self: center;
  }
}

.team__details {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin-left: 2rem;
}

@media only screen and (max-width: 62.5em) {
  .team__details {
    -ms-grid-column-align: center;
        justify-self: center;
    text-align: center;
  }
}

.team__name {
  font-size: 2.2rem;
  font-family: "Open Sans";
  font-weight: 300;
  letter-spacing: 1px;
  color: #fff;
}

.team__text {
  font-size: 1.4rem;
  font-family: "Lato";
  color: #c6c6c6;
}

.card {
  border-radius: 5px;
  color: #fff;
  -webkit-box-shadow: 2px 0px 15px 5px rgba(255, 255, 255, 0.11);
  box-shadow: 2px 0px 15px 5px rgba(255, 255, 255, 0.11);
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.card:hover, .card:active {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.card__img {
  width: 100%;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.card__title {
  font-size: 2.5rem;
  text-transform: uppercase;
  font-family: "Lato";
  font-weight: 400;
  letter-spacing: 1px;
  margin: 2rem 3rem;
}

.card__text {
  font-size: 2rem;
  margin: 2rem;
  font-family: "Lato";
}

.navbottom__list {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (10rem)[auto-fit];
      grid-template-columns: repeat(auto-fit, 10rem);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  list-style: none;
}

.navbottom__items {
  -ms-grid-column-align: center;
      justify-self: center;
}

.navbottom__link-icon {
  fill: #fff;
  width: 5rem;
  height: 5rem;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.navbottom__link-icon:hover, .navbottom__link-icon:active {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  fill: #895bd5;
}

.section__about {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  border-bottom: 1px solid #f1f1f1;
  height: 50rem;
  background-color: black;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: minmax(min-content, 1fr) 1fr;
      grid-template-columns: minmax(-webkit-min-content, 1fr) 1fr;
      grid-template-columns: minmax(min-content, 1fr) 1fr;
}

@media only screen and (max-width: 62.5em) {
  .section__about {
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: minmax(40vw, 1fr) 50vw;
        grid-template-rows: minmax(40vw, 1fr) 50vw;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

@media only screen and (max-width: 37.5em) {
  .section__about {
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
  }
}

.section__staff {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  border-bottom: 1px solid #f1f1f1;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.9)), to(rgba(10, 3, 29, 0.9))), url(../../img/bg/bg-2-desk.jpg);
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.9), rgba(10, 3, 29, 0.9)), url(../../img/bg/bg-2-desk.jpg);
  background-position: center;
  background-size: cover;
}

@media only screen and (max-width: 62.5em) {
  .section__staff {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.9)), to(rgba(10, 3, 29, 0.9))), url(../../img/bg/bg-2-tab.jpg);
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.9), rgba(10, 3, 29, 0.9)), url(../../img/bg/bg-2-tab.jpg);
    -ms-grid-columns: auto;
        grid-template-columns: auto;
  }
}

@media only screen and (max-width: 37.5em) {
  .section__staff {
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    grid-row: 3/4;
  }
}

.section__work {
  -ms-grid-row: 4;
  -ms-grid-row-span: 1;
  grid-row: 4/5;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(28vw, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(28vw, 1fr));
  gap: 5rem;
  margin: 5rem;
}

@media only screen and (max-width: 37.5em) {
  .section__work {
    -ms-grid-row: 5;
    -ms-grid-row-span: 1;
    grid-row: 5/6;
  }
}

.section__work-heading {
  margin: 4rem 10rem;
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3/4;
}

@media only screen and (max-width: 37.5em) {
  .section__work-heading {
    -ms-grid-row: 4;
    -ms-grid-row-span: 1;
    grid-row: 4/5;
  }
}

.container {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 47vw (min-content)[3];
      grid-template-rows: 47vw repeat(3, -webkit-min-content);
      grid-template-rows: 47vw repeat(3, min-content);
}

@media only screen and (max-width: 37.5em) {
  .container {
    -ms-grid-rows: (min-content)[5];
        grid-template-rows: repeat(5, -webkit-min-content);
        grid-template-rows: repeat(5, min-content);
  }
}

.content {
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3/4;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (min-content)[4];
      grid-template-rows: repeat(4, -webkit-min-content);
      grid-template-rows: repeat(4, min-content);
}

@media only screen and (max-width: 62.5em) {
  .content {
    -ms-grid-rows: 90vw (min-content)[3];
        grid-template-rows: 90vw repeat(3, -webkit-min-content);
        grid-template-rows: 90vw repeat(3, min-content);
  }
}

@media only screen and (max-width: 37.5em) {
  .content {
    -ms-grid-rows: none;
        grid-template-rows: none;
  }
}

.about {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -ms-grid-rows: (min-content)[4];
      grid-template-rows: repeat(4, -webkit-min-content);
      grid-template-rows: repeat(4, min-content);
}

.about__main {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  margin: 2rem;
  text-align: center;
}

@media only screen and (max-width: 62.5em) {
  .about__main {
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/2;
  }
}

.about__main-heading {
  margin-bottom: 2rem;
}

.about__main-text {
  font-size: 2rem;
  font-family: "Lato";
  color: #fff;
}

.about__picture {
  grid-column: 2/-1;
  background-image: url(../img/live/live-1-desk.jpg);
  background-position: center;
  background-size: cover;
  max-width: 100%;
  height: auto;
}

@media only screen and (max-width: 62.5em) {
  .about__picture {
    background-image: url(../img/live/live-1-tab.jpg);
    grid-row: 2/-1;
    grid-column: 1/-1;
    border-top: 1px solid #c6c6c6;
  }
}
/*# sourceMappingURL=main.css.map */