@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,700;0,900;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,500;0,700;0,900;1,300;1,400;1,500;1,700;1,900&display=swap");
@-webkit-keyframes transpale {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-200px);
            transform: translateX(-200px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}
@keyframes transpale {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-200px);
            transform: translateX(-200px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@-webkit-keyframes opacity {
  0% {
    opacity: 0;
    -webkit-transform: translateX(80px);
            transform: translateX(80px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes opacity {
  0% {
    opacity: 0;
    -webkit-transform: translateX(80px);
            transform: translateX(80px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: black;
}

strong {
  font-weight: normal;
}

.header {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  position: relative;
}

.header__bg {
  background-image: url(../../img/bg/bg-1-desk.jpg);
  background-position: center;
  background-size: cover;
  max-width: 100%;
  height: 80vh;
}

.header__heading {
  position: absolute;
  top: 20%;
  left: 60%;
  color: #fff;
  text-transform: uppercase;
}

.header__heading-main {
  display: block;
  font-family: "Open Sans";
  font-size: 4.5rem;
  margin-bottom: 1.5rem;
  -webkit-animation: transpale 3s;
          animation: transpale 3s;
}

.header__heading-sub {
  position: absolute;
  top: 100%;
  left: 80%;
  -webkit-animation: opacity 3s;
          animation: opacity 3s;
}

.navbar {
  display: none;
}

.navbar__heading {
  font-family: "Roboto";
  font-weight: 400;
  letter-spacing: 1px;
}

.navbar__back {
  background-color: rgba(19, 19, 19, 0.9);
  -webkit-backdrop-filter: blur(3px);
          backdrop-filter: blur(3px);
}

.navbar__back-title {
  text-transform: uppercase;
  font-size: 1.8rem;
  font-weight: 100;
  color: #fff;
  position: absolute;
  top: 24%;
  left: 3%;
}

.navbar__back-line {
  width: 100%;
  height: 2px;
  background-color: #8b8b8b;
  position: absolute;
  top: 34%;
  left: 0%;
}

.navbar__back-list {
  position: absolute;
  top: 65%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.navbar__back-items:not(:first-child) {
  margin-top: 2rem;
}

.navbar__back-link {
  text-transform: uppercase;
  font-size: 2.2rem;
  font-family: "Lato";
  font-weight: 100;
  text-align: center;
  color: #fff;
  letter-spacing: 2px;
  display: block;
}

.navbar__back-btn {
  background-color: white;
  position: absolute;
  top: 27%;
  left: 85%;
  border: none;
}

.section__about {
  border-bottom: 1px solid #f1f1f1;
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3/4;
}

.section__staff {
  -ms-grid-row: 4;
  -ms-grid-row-span: 1;
  grid-row: 4/5;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  border-top: 1px solid #f1f1f1;
  height: 60vh;
  background-image: -webkit-gradient(linear, left top, left bottom, from(black), to(#0a031d));
  background-image: linear-gradient(to bottom, black, #0a031d);
}

.section__work {
  -ms-grid-row: 5;
  -ms-grid-row-span: 1;
  grid-row: 5/6;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(auto-fit, 1fr))[3];
      grid-template-columns: repeat(3, minmax(auto-fit, 1fr));
}

.about {
  height: 40rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  background-color: black;
}

.about__main {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin: 2rem;
  text-align: center;
}

.about__main-heading {
  font-size: 4.2rem;
  margin-bottom: 2rem;
  color: #FFF;
}

.about__main-text {
  font-size: 2rem;
  color: #FFF;
}

.about__picture {
  grid-column: 2/-1;
  background-image: url(../../img/live/live-1-desk.jpg);
  background-position: center;
  background-size: cover;
  width: 100%;
}

.container {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 80vh min-content min-content max-content min-content;
      grid-template-rows: 80vh -webkit-min-content -webkit-min-content -webkit-max-content -webkit-min-content;
      grid-template-rows: 80vh min-content min-content max-content min-content;
}

.content {
  background-color: #FFF;
}

.nav {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  background-color: #131313;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  padding: 1rem;
  border-top: 1px solid #f1f1f1;
  border-bottom: 1px solid #f1f1f1;
}

.nav__list {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  list-style: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 0;
}

.nav__link {
  text-decoration: none;
  font-size: 2.4rem;
  text-transform: uppercase;
  font-family: "Open Sans";
  color: #fff;
  display: block;
  -webkit-transition: all .2s;
  transition: all .2s;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

.nav__link:hover, .nav__link:active {
  color: #c6c6c6;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.staff {
  border-right: 1px solid #c6c6c6;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  color: #fff;
  margin: 2rem;
}

.staff__heading {
  font-size: 3.2rem;
  font-family: "Open Sans";
  text-transform: uppercase;
  margin-bottom: 1.2rem;
}

.staff__text {
  font-size: 2rem;
  text-align: center;
  width: 80%;
}

.team {
  -ms-grid-column-align: center;
      justify-self: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.team__list {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: min-content max-content;
      grid-template-columns: -webkit-min-content -webkit-max-content;
      grid-template-columns: min-content max-content;
  gap: 2rem;
}

.team__img {
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
  -webkit-box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.15);
  box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.15);
}

.team__details {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin-left: 2rem;
}

.team__name {
  font-size: 2.2rem;
  color: #FFF;
}

.team__text {
  font-size: 1.4rem;
  color: #c6c6c6;
}

.card {
  width: 33.3333%;
}

.card__img {
  width: 100%;
}
/*# sourceMappingURL=main.css.map */