// === COLORS ===
$color-primary: rgb(30, 20, 62);
$color-primary-light: rgb(81, 56, 93);
$color-primary-dark: rgb(10, 03, 29);

$color-secondary: rgb(32, 37, 134);
$color-secondary-light: rgb(36, 40, 135);
$color-secondary-dark: rgb(0, 9, 51);

$color-tertiary: rgb(228, 152, 251);
$color-tertiary-light: rgb(221, 202, 251);
$color-tertiary-dark: rgb(137, 91, 213);

$color-grey: #a0a0a0;
$color-grey-light-1: #c6c6c6;
$color-grey-light-2: #e6dede;
$color-grey-light-3: #f1f1f1;
$color-grey-dark-1: #8b8b8b;
$color-grey-dark-2: #757575;
$color-grey-dark-3: #616161;

$color-black: #131313;
$color-black-light: #383838;

// === FONTS ===
@include googlefonts("Open+Sans"); // font-family: 'Open Sans', sans-serif;
@include googlefonts("Roboto"); // font-family: 'Roboto', sans-serif;
@include googlefonts("Lato"); //font-family: 'Lato', sans-serif;

$font-primary: "Roboto";
$font-secondary: "Open Sans";
$font-text: "Lato";

// === BREAKPOINT ===
$bp-largest: 81.25em; // 1300px   1300/16= 81.25em
$bp-larg: 72.62em; //1162px
$bp-tab: 62.5em; // 1000px
$bp-mob: 37.5em; // 600px
