.about {
  height: 50rem;
  display: grid;
  grid-template-columns: minmax(min-content, 1fr) 1fr;
  background-color: black;
 
  &__main {
    grid-column: 1/2;
    align-self: center;
    margin: 2rem;
    text-align: center;
    &-heading {
      font-size: 4.2rem;
      margin-bottom: 2rem;
      color: #FFF;
   
    }

    &-text {
      font-size: 2rem;
      color: #FFF;
 
    }
  }

  &__picture {
    grid-column: 2/-1;
    background-image: url(../../img/live/live-1-desk.jpg);
    background-position: center;
    background-size: cover;
    max-width: 100%;
    height: auto;

  
    
   
  }
}
