.footer {
  grid-row: 3/4;
  border-top: 1px solid #fff;
  margin-top: 5rem;
  display: grid;
  grid-template-rows: repeat(3, min-content);
  row-gap: 5rem;
  background-image: linear-gradient(
    to right bottom,
    $color-black,
    $color-secondary-dark
  );
 

  &__logo-box {
    margin-top: 5rem;
    align-self: center;
    justify-self: center;
  }

  &__logo-img {
    width: 20rem;
    height: 20rem;
  }

  &__copyright {
    color: #fff;
    justify-self: end;
    font-size: 1.6rem;
    margin: 2rem;
  }

  @media only screen and (min-width: $bp-mob) {
    grid-row: 6/7;
  }
}
