.header {
  grid-row: 1/2;
  position: relative;
  @include background-center;
  min-width: 100%;
  height: auto;
  border-bottom: $border-down;
  @media only screen and (max-width: $bp-mob) {
    background-image: none;
    background-color: $color-black;
  }

  &__heading {
    position: absolute;
    top: 20%;
    left: 50%;
    color: #fff;
    text-transform: uppercase;
    @media only screen and (max-width: $bp-tab) {
      left: 41%;
      top: 10%;
    }
    @media only screen and (max-width: $bp-mob) {
      position: relative;
      left: 0;
      top: 0;
      display: inline-block;
      margin: 3rem 1rem;
    }

    &-main {
      display: block;
      font-family: $font-secondary;
      font-size: 4.5rem;
      margin-bottom: 1.5rem;
      animation: transpale 3s;
      @media only screen and (max-width: $bp-mob) {
        font-size: 3.5rem;
      }
    }

    &-sub {
      font-size: 3.5rem;
      font-family: $font-secondary;
      position: absolute;
      top: 100%;
      left: 80%;
      animation: opacity 3s;
      @media only screen and (max-width: $bp-larg) {
        left: 70%;
      }
      @media only screen and (max-width: $bp-tab) {
        left: 55%;
      }
      @media only screen and (max-width: $bp-mob) {
        display: none;
      }
    }
  }
}

// === HEADER INDEX.HTML PAGE ===
.header-index {
  background-image: url(../img/bg/bg-1-desk.jpg);
  @media only screen and (max-width: $bp-tab) {
    background-image: url(../img/bg/bg-1-tab.jpg);
  }
  @media only screen and (max-width: $bp-mob) {
    background-image: none;
    background-color: $color-black;
  }
}
