.section__about {
  border-bottom: 1px solid $color-grey-light-3;
  grid-row: 3/4;
  
}

.section__staff {
  grid-row: 4/5;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  border-top: 1px solid $color-grey-light-3;
  height: 60vh;
  background-image: linear-gradient(to bottom, black, $color-primary-dark);
}

.section__work {
  grid-row: 5/6;
  display: grid;
  grid-template-columns: repeat(3, minmax(auto-fit, 1fr));

  &-heading{
    
  }
}
