.about {
  align-self: center;
  grid-template-rows: repeat(4, min-content);

  &__main {
    grid-column: 1/2;
    margin: 2rem;
    text-align: center;
    @media only screen and (max-width: $bp-tab) {
      grid-row: 1/2;
    }
    &-heading {
      margin-bottom: 2rem;
    }

    &-text {
      font-size: 2rem;
      font-family: $font-text;
      color: #fff;
    }
  }

  &__picture {
    grid-column: 2/-1;
    background-image: url(../img/live/live-1-desk.jpg);
    background-position: center;
    background-size: cover;
    max-width: 100%;
    height: auto;

    @media only screen and (max-width: $bp-tab) {
      background-image: url(../img/live/live-1-tab.jpg);
      grid-row: 2/-1;
      grid-column: 1/-1;
      border-top: 1px solid $color-grey-light-1;
    }
  }
}
