.section__about {
  grid-row: 1/2;
  border-bottom: $border-down;
  height: 50rem;
  background-color: black;
  display: grid;
  grid-template-columns: minmax(min-content, 1fr) 1fr;

  @media only screen and (max-width: $bp-tab) {
    display: grid;
    grid-template-rows: minmax(40vw, 1fr) 50vw;
    grid-template-columns: 1fr;
  }
  @media only screen and (max-width: $bp-mob) {
    grid-template-rows: 50vw min-content;
    border-bottom: none;
  }
}

.section__staff {
  grid-row: 2/3;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  border-bottom: $border-down;
  background-image: linear-gradient(
      to bottom,
      rgba(black, 0.9),
      rgba($color-primary-dark, 0.9)
    ),
    url(../img/bg/bg-2-desk.jpg);
  @include background-center;
  @media only screen and (max-width: $bp-tab) {
    background-image: linear-gradient(
        to bottom,
        rgba(black, 0.9),
        rgba($color-primary-dark, 0.9)
      ),
      url(../img/bg/bg-2-tab.jpg);

    grid-template-columns: auto;
  }
}

.section__work {
  grid-row: 4/5;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(28vw, 1fr));
  gap: 5rem;
  margin: 5rem;
  @media only screen and (max-width: $bp-mob) {
    grid-template-columns: min-content;
    justify-self: center;
  }

  &-heading {
    margin: 4rem 10rem;
    grid-row: 3/4;
  }
}
