.staff{
align-self: center;
border-right: 1px solid $color-grey-light-1;



  &__heading{
    font-size: 3.2rem;
    font-family: $font-secondary;
    text-transform: uppercase;
    margin: 1rem;
    

  }

  &__text{
    margin: 2rem;
    font-size: 2rem;
    

  }
}