.staff {
  display: grid;
  align-self: center;
  grid-template-rows: repeat(2, min-content);
  gap: 5rem;
  border-right: $border;
  color: #fff;
  
  @media only screen and (max-width: $bp-tab) {
    border-right: none;
    border-top: $border;
  }

  &__heading {
    margin-left: 2rem;
    @media only screen and (max-width: $bp-tab) {
      margin: 2rem;
    }
  }

  &__text {
    text-align: center;
    justify-self: center;
    width: 80%;
    font-size: 2rem;
    font-family: $font-text;
  }
}
