.staff {
  border-right: 1px solid $color-grey-light-1;
  color: #fff;
  display: grid;
  align-self: center;
  grid-template-rows: repeat(2, min-content);
  gap: 5rem;
  &__heading {
    margin-left: 2rem;
  }

  &__text {
    font-size: 2rem;
    font-family: $font-text;
    text-align: center;
    justify-self: center;
    width: 80%;
  }
}
