*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%; // 1rem=10px (10/16=62,5%)

  @media only screen and (max-width: $bp-largest) {
    font-size: 56.25%; // 1rem= 9px
  }

  @media only screen and (max-width: $bp-larg) {
    font-size: 50%; // 1rem= 8px
  }

  @media only screen and (max-width: $bp-mob) {
    font-size: 43.75%; // 1rem= 7px
  }
}

body {
  box-sizing: border-box;
  background-color: black;
}
