strong {
  font-weight: normal;
}

.heading-4 {
  font-size: 3.5rem;
  text-transform: uppercase;
  color: #fff;
  letter-spacing: 2px;
  font-family: $font-secondary;
  font-weight: 400;

  @media only screen and (max-width: $bp-mob) {
    font-size: 2.5rem;
    letter-spacing: 0;
  }
}

.heading-2 {
  grid-row: 1/2;
  font-size: 7.5rem;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-family: $font-primary;
  text-align: center;
  margin: 8rem;
  background-image: linear-gradient(to right, $color-secondary, $color-tertiary-light);
  -webkit-background-clip: text;
  color: transparent;
}
